@use "../variables" as *;
@use "../mixins" as *;

.hero {
    width: 100%;
    .content {
        aspect-ratio: 500 / 835;
        background: url('https://pub-d341ea7ec201435598469d75d8c4a056.r2.dev/QuangHuy-MinhHieu/41.webp') no-repeat 86% 100% / cover;
        position: relative;
        width: 100%;
        display: flex;
        justify-content: start;
        flex-direction: column;
        align-items: center;
        perspective: 1000px;
        font-weight: 300;
        color: $secondary-color;

        .names {
            margin-top: 5%;
            font-family: $font-MTD-Portrait;
            font-size: 40px;
            .name {
                line-height: 2;
                padding: 0 20px;
            }
            .role {
                margin: 1% 0;
                line-height: 1.4;
            }
        }

        .savethedate{
            font-size: 13px;
            margin-top: 5%;
        }

        &.vow {
            aspect-ratio: 500 / 1447;
            background: url('https://pub-d341ea7ec201435598469d75d8c4a056.r2.dev/QuangHuy-MinhHieu/hero_bg.png') no-repeat center / cover;
        }
    }

    @media (max-width: 500px) {
        .content {
            .divider {
                max-width: calc((74 / 500) * 100vw);
            }
    
            .names {
                font-size: calc((40 / 500) * 100vw);
                .name {
                    padding: 0 calc((20 / 500) * 100vw);;
                }
            }
    
            .savethedate{
                font-size: calc((13 / 500) * 100vw);
            }
        }
    }
}
